body {
    display: flex;
    justify-content: center;

    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.App{
    width: 70vw;
    height: 70vh;
    background-color: #1212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.Red{
    background-color: red;
    height: 100%;
    margin-top: 0.5rem;
    width: 100%;
    
}

.Green{
    background-color: green;
    height: 100%;
    margin-top: 0.5rem;
    width: 100%;
}

span {
    color: white;
    font-size: 4rem;
    font-family:  monospace;
}

p{
    font-weight: bold;
    font-size: 4rem;
}
button{
    cursor: pointer;
    border: none;
    padding: 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-weight: bold;
}